{include file='public/_meta'}
<title>我的桌面</title>
</head>

<body>
    <div class="page-container">
        <p class="f-20 text-success text-c">欢迎使用智慧家园 <span class="f-14">V1.0</span></p>
    </div>
    <footer class="footer mt-20">
        <div class="container">
            <p>感谢jQuery、layer、laypage、Validform、UEditor、My97DatePicker、iconfont、Datatables、WebUploaded、icheck、highcharts、bootstrap-Switch<br>
                Copyright &copy;2015-2017 H-ui.admin v3.1 All Rights Reserved.<br>
                本系统由 <b><a href="http://www.h-ui.net/" target="_blank" title="H-ui框架">H-ui 框架</a></b> 提供技术支持</p>
        </div>
    </footer>
</body>

</html>