<aside class="Hui-aside">
    <div class="menu_dropdown bk_2">
        {if condition="$Request.session.admin.id>1"}
        <dl id="menu-article">
            <dt>
                <i class="Hui-iconfont">&#xe616;</i> 资讯管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
            </dt>
            <dd>
                <ul>
                    <li>
                        <a data-href="{:url('admin/notifies/lst')}" data-title="资讯列表" href="javascript:void(0)">资讯列表</a>
                    </li>
                    <li>
                        <a data-href="{:url('admin/notifies/add')}" data-title="发布资讯" href="javascript:void(0)">发布资讯</a>
                    </li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-comments">
            <dt>
                <i class="Hui-iconfont">&#xe622;</i> 意见管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
            </dt>
            <dd>
                <ul>
                    <li>
                        <a data-href="http://h-ui.duoshuo.com/admin/" data-title="意见列表" href="javascript:;">意见列表</a>
                    </li>
                    <li>
                        <a data-href="feedback-list.html" data-title="意见回复" href="javascript:void(0)">意见回复</a>
                    </li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-member">
            <dt>
                <i class="Hui-iconfont">&#xe60d;</i> 业主管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
            </dt>
            <dd>
                <ul>
                    <li>
                        <a data-href="{:url('admin/user/lst')}" data-title="业主列表" href="#">业主列表</a>
                    </li>
                </ul>
            </dd>
        </dl>
        {if condition="$Request.session.admin.id==5"}
        <dl id="menu-member">
            <dt>
                <i class="Hui-iconfont">&#xe60d;</i> 物业管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
            </dt>
            <dd>
                <ul>
                    <li>
                        <a data-href="{:url('admin/propertype/lst')}" data-title="物业类型列表" href="#">物业类型列表</a>
                    </li>
                    <li>
                        <a data-href="{:url('admin/propertype/save')}" data-title="新增物业类型" href="#">新增物业类型</a>
                    </li>
                    <li>
                        <a data-href="{:url('admin/feetype/index')}" data-title="缴费类型列表" href="#">缴费类型列表</a>
                    </li>
                    <li>
                        <a data-href="{:url('admin/feetype/save')}" data-title="新增缴费类型" href="#">新增缴费类型</a>
                    </li>
                    <li>
                        <a data-href="{:url('admin/properties/lstbyuser?id=1')}" data-title="物业列表" href="#">物业列表</a>
                    </li>
                    <li>
                        <a data-href="{:url('admin/properties/add')}" data-title="添加物业" href="#">添加物业</a>
                    </li>
                    <li>
                        <a data-href="{:url('admin/feereport/index')}" data-title="缴费记录" href="#">缴费记录</a>
                    </li>
                    <li>
                        <a data-href="{:url('admin/feereport/add')}" data-title="费用缴纳" href="#">费用缴纳</a>
                    </li>
                </ul>
            </dd>
        </dl>
        {/if}
        <dl id="menu-category">
            <dt>
                <i class="Hui-iconfont">&#xe681;</i> 栏目管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
            </dt>
            <dd>
                <ul>
                    <li>
                        <a data-href="{:url('admin/category/lst')}" data-title="栏目列表" href="javascript:void(0)">栏目列表</a>
                    </li>
                    <li>
                        <a data-href="{:url('admin/category/add')}" data-title="添加栏目" href="javascript:void(0)">添加栏目</a>
                    </li>
                </ul>
            </dd>
        </dl>
        {else /}
        <dl id="menu-system">
            <dt>
                <i class="Hui-iconfont">&#xe62e;</i> 系统管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
            </dt>
            <dd>
                <ul>
                    <li>
                        <a data-href="{:url('admin/admin/lst')}" data-title="管理员列表" href="javascript:void(0)">管理员列表</a>
                    </li>
                    <li>
                        <a data-href="{:url('admin/feetype/index')}" data-title="缴费类型列表" href="javascript:;">缴费类型列表</a>
                    </li>
                    <li>
                        <a data-href="{:url('admin/feetype/add')}" data-title="新增缴费类型" href="javascript:;">新增缴费类型</a>
                    </li>
                    <li>
                        <a data-href="{:url('admin/system/addusertype')}" data-title="业主分类" href="javascript:;">业主分类</a>
                    </li>
                    <li>
                        <a data-href="system-log.html" data-title="系统日志" href="javascript:void(0)">系统日志</a>
                    </li>
                </ul>
            </dd>
        </dl>
        {/if}
    </div>
</aside>
<div class="dislpayArrow hidden-xs">
    <a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a>
</div>