{include file='public/_meta'}
<title>栏目设置</title>
</head>

<body>
    <div class="page-container">
        <div class="row cl">
            <div class="col-sx-10 col-sm-10 col-md_10 col-lg-10 col-offset-1">
                <table class="table table-border table-bordered table-striped table-hover table-bg table-sort">
                    <thead>
                        <tr class="text-c">
                            <th width="80">ID</th>
                            <th>业主类型</th>
                        </tr>
                    </thead>
                    <tbody>
                        {volist name="list" id='item'}
                        <tr class="text-c">
                            <td>{$item.id}</td>
                            <td>{$item.name}</td>
                        </tr>
                        {/volist}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {include file='public/_footer'}
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="lib/My97DatePicker/4.8/WdatePicker.js"></script>
    <script type="text/javascript" src="lib/jquery.validation/1.14.0/jquery.validate.js"></script>
    <script type="text/javascript" src="lib/jquery.validation/1.14.0/validate-methods.js"></script>
    <script type="text/javascript" src="lib/jquery.validation/1.14.0/messages_zh.js"></script>
    <script type="text/javascript">
    $(function() {});
    </script>
    <!--/请在上方写此页面业务相关的脚本-->
</body>

</html>