{include file='public/_meta'}
<title>资讯列表</title>
</head>

<body>
    <nav class="breadcrumb">
        资讯列表
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
    </nav>
    <div class="page-container">
        <div class="text-r">
            <form action="{:url('admin/notifies/lst')}" method="post">
                <div class="row cl">
                    <div class="formControls col-xs-7 col-sm-7">
                        <span class="select-box">
                            <select class="select" id="sel_Sub" name="category_id">
                                <option value=0>全部</option>
                                {volist name="categories" id="item"}
                                <option value={$item.id} {if $cate_id eq $item.id} selected="" {/if}> {$item.level} </option> {/volist} </select> </span> </div> <button name="" id="" class="btn btn-success  col-xs-2 col-sm-2" type="submit"><i class="Hui-iconfont">&#xe665;</i>
                                    搜索
                                    </button>
                    </div>
            </form>
        </div>
        <div class="cl pd-5 bg-1 bk-gray mt-20">
            <span class="l">
                <a class="btn btn-primary radius" href="{:url('admin/notifies/add')}"><i class="Hui-iconfont">&#xe600;</i>
                    发布资讯</a>
            </span>
            <span class="r">共有数据：<strong>{$count}</strong> 条</span>
        </div>
        <div class="mt-20">
            <table class="table table-border table-bordered table-hover table-bg table-sort">
                <thead>
                    <tr class="text-c">
                        <th width="80">栏目</th>
                        <th>标题</th>
                        <th>摘要</th>
                        <th width="80">发布人</th>
                        <th width="150">发布时间</th>
                        <th width="80">操作</th>
                    </tr>
                </thead>
                <tbody>
                    {volist name="list" id='item'}
                    <tr class="text-c">
                        <td>
                            {$item.category_id|getCategoryName}
                        </td>
                        <td>
                            <a href="{:url('admin/notifies/showById',['id'=>$item.id])}">{$item.title}</a>
                        </td>
                        <td>
                            <a href="{:url('admin/notifies/showById',['id'=>$item.id])}">{$item.description}</a>
                        </td>
                        <td>{$item.author|getAdminName}</td>
                        <td>{$item.create_time}</td>
                        <td>
                            <a href="{:url('admin/notifies/edit',['id'=>$item.id])}">编辑</a>
                            <span class="pipe">|</span>
                            <a href="{:url('admin/notifies/delete',['id'=>$item.id])}" class="color-red">删除</a>
                        </td>
                    </tr>
                    {/volist}
                </tbody>
            </table>
            <div class="page text-c">{$list->render()}</div>
        </div>
    </div>
    {include file='public/_footer'}
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="lib/My97DatePicker/4.8/WdatePicker.js"></script>
    <script type="text/javascript" src="lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="lib/laypage/1.2/laypage.js"></script>
</body>

</html>